<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="E-Looc"/>
    <meta name="description" content=""/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content=""/>
    <meta property="og:title" content=""/>
    <meta property="og:description" content=""/>
    <meta property="og:site_name" content="">
    <meta property="og:image" content=""/>
    <meta property="twitter:url" content=""/>
    <meta property="twitter:title" content="E-Looc"/>
    <meta property="twitter:description" content=""/>
    <meta property="twitter:image" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
            rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/static/looc.svg">
    <link
            rel="stylesheet"
            type="text/css"
            media="screen"
            href="{{ url_for('static', path='style.css') }}"
    />
    <title>{{ title }}</title>
</head>
<body>

<h1>Welcome to FastAPI with Dynamic HTML!</h1>
<p>{{ message }}</p>
</body>
</html>
