<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="E-Looc"/>
    <meta name="description" content="Welcome to the Brgy. Looc Website"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://e-looc.vercel.app/"/>
    <meta property="og:title" content="E-Looc"/>
    <meta property="og:description" content="Welcome to the Brgy. Looc Website"/>
    <meta property="og:site_name" content="E-Looc">
    <meta property="og:image" content="https://e-looc.vercel.app/static/img/preview.png"/>
    <meta property="twitter:url" content="https://e-looc.vercel.app/"/>
    <meta property="twitter:title" content="E-Looc"/>
    <meta property="twitter:description" content="Welcome to the Brgy. Looc Website"/>
    <meta property="twitter:image" content="https://e-looc.vercel.app/static/img/preview.png"/>

    <title>{{ title }}</title>
</head>
<body>
<h1>Welcome to FastAPI with Dynamic HTML!</h1>
<p>{{ message }}</p>
</body>
</html>
